{template library:book_header}
<style>
body img{-moz-border-radius: 0px;-khtml-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.index_top{ padding:5px; height:370px; }
.index_tips{ position:relative; bottom:80px; width:990px; height:80px;background: rgba(91,70,39,0.8); overflow:hidden; text-align:center}
/*rgba(91,70,39,0.8); opacity: 0.8;  #5b4627*/
.index_cat { width:1024px;background:#000; }
.index_cat li{ width:230px; height:309px; margin: 0px 26px 20px 0px; padding:5px 0px 0px 0px;float:left; background:#fff; text-align:center}
.cat_tips{ position:relative; bottom:60px; width:230px; height:50px;  background-color:#c5944b; overflow:hidden;opacity: 0.9;padding-top:10px; color:#FFF; font-size:24px; font-weight: bold;}
</style>

<div id="wp" class="wp">
     
 <div class="mn" style=" width:1000px; padding-top:10px;">
    <div class="bm bmw">
      <div class="index_top">
        <img src="template/cmszs_360bbs/images/indexbg.jpg" />
        <div class="index_tips">
           {template library:sub_search_index_white}
        </div>
      </div>
    </div>
 </div>
 
 <div class="mn" style=" width:1000px; padding-top:30px; ">
    <div class="index_cat">
      <ul>
      	<li>
        	<a href="plugin.php?id=library:book&action=index&cid=0"><img src="template/cmszs_360bbs/images/qbtu.png" /></a>
            <div class="cat_tips">全部分类</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=2"><img src="template/cmszs_360bbs/images/b1.jpg" /></a>
            <div class="cat_tips">小说</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=9"><img src="template/cmszs_360bbs/images/b2.jpg" /></a>
            <div class="cat_tips">故事</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=11"><img src="template/cmszs_360bbs/images/b3.jpg" /></a>
            <div class="cat_tips">诗歌</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=10"><img src="template/cmszs_360bbs/images/b4.jpg" /></a>
            <div class="cat_tips">散文</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=13"><img src="template/cmszs_360bbs/images/b5.jpg" /></a>
            <div class="cat_tips">报告文学</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=12"><img src="template/cmszs_360bbs/images/b6.jpg" /></a>
            <div class="cat_tips">戏曲曲艺</div>
        </li>
        
          <li>
        	<a href="plugin.php?id=library:book&action=index&cid=16"><img src="template/cmszs_360bbs/images/b7.jpg" /></a>
            <div class="cat_tips">儿童文学</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=15"><img src="template/cmszs_360bbs/images/b8.jpg" /></a>
            <div class="cat_tips">作品综合集</div>
        </li>
        
         <li>
        	<a href="plugin.php?id=library:book&action=index&cid=14"><img src="template/cmszs_360bbs/images/b9.jpg" /></a>
            <div class="cat_tips">文学期刊</div>
        </li>
        
         
        
        
        
         <li>
        	<a href="plugin.php?id=library:book&action=index&cid=20"><img src="template/cmszs_360bbs/images/b10.jpg" /></a>
            <div class="cat_tips">文学理论</div>
        </li>
        
        <li>
        	<a href="plugin.php?id=library:book&action=index&cid=17"><img src="template/cmszs_360bbs/images/b11.jpg" /></a>
            <div class="cat_tips">非正式出版文学图书</div>
        </li>
      </ul>
    </div>
 </div>
    
    
		
    
    	
    </div>
  
    {template library:footer}